<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %level [%logger.%M:%line] %msg%n
            </pattern>
        </layout>
    </appender>

	<logger name="fr.dsirc.dsn.utils" level="INFO" />
    <logger name="fr.erdprt.samples.contifperf" level="INFO" />
    <logger name="org.springframework" level="WARN" />
    <logger name="fr.erdprt.testng.samples" level="TRACE" />
    

    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>